<!DOCTYPE html>
<html>
<head>
  <title>Admin Panel</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Admin Panel</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Recipient</th>
    <th>Status</th>
    <th>Deck</th>
    <th>Photo</th>
  </tr>
  <% packages.forEach(pkg => { %>
    <tr>
      <td><%= pkg.id %></td>
      <td><%= pkg.recipient %></td>
      <td><%= pkg.status %></td>
      <td><%= pkg.shippingDeck %></td>
      <td>
        <% if (pkg.photo) { %>
          <img src="<%= pkg.photo %>" width="100">
        <% } %>
      </td>
    </tr>
  <% }) %>
</table>
</body>
</html>
