<!DOCTYPE html>
<html>
<head>
  <title>Package Tracking</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Package Tracking</h1>

<p>ID: <%= pkg.id %></p>
<p>Recipient: <%= pkg.recipient %></p>
<p>Address: <%= pkg.address %></p>
<p>Status: <%= pkg.status %></p>

<% if (pkg.photo) { %>
  <h3>Delivery Proof</h3>
  <img src="<%= pkg.photo %>" width="200">
<% } %>
</body>
</html>
